/*---------------------------------------
  MediaScreen sizes

// Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px


-----------------------------------------*/





/*---------------------------------------
    body
-----------------------------------------*/

body {
    position: relative;
}

html,body {
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

/*---------------------------------------
    Typography
-----------------------------------------*/

body {
    background: #ffffff;
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 300;
  }

h1{
  font-family: 'Anton', sans-serif;
  font-family: 'Special Elite', cursive;
  font-size: 200%;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 50px;
}

p{
  padding: 10px 0 10px 0;
  letter-spacing: 2px;
  line-height: 1.5em;
  text-align: justify;
}

/*---------------------------------------
    General
-----------------------------------------*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.speech-bubble {
	background: black;
  border-radius: .4em;
  z-index: 100;
}

.speech-bubble:after {
  content: '';
	width: 0;
	height: 0;
}

.speech-bubble h1{
color:white;
font-size:150%;
text-align: justify;
}

/*---------------------------------------
    Navigation
-----------------------------------------*/

.logo {
      position: fixed;
      float: left;
      margin: 10px 20px;
      text-decoration: none;
}

nav h1 {
 font-size: 100%;
 text-align: center;
 text-decoration: none;
 color:white;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 50px;
      z-index: 9998;
}

nav ul {
      line-height: 50px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: rgba(0, 0, 0, 0.8);
}

nav.black ul li a{
  background: none;
  text-decoration: none;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.7);
      
      padding: 5px;
}

nav ul li a:hover{
color:#DCDCDC;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
      
}


@media(max-width: 786px) {


      nav i {
      font-size: 400%;
      color: #D3D7DA;
      margin: 10px 10px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
            background-color: rgba(0,0,0,0);
      }

}

/*---------------------------------------
    Banner Section
-----------------------------------------*/

#home {
  height: 100vh;
  width:100%;
  /*  display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;*/
    margin-top: 80px;
}

@media(max-width: 786px) {
  #home {
      margin-top: 0px;
  }
}

#myVideo{
  height: 100vh;
}


#home .speech-bubble {
  position: absolute;
  top:200px;
  right:30px;
	/*background: lightgray;
  border-radius: .4em;
  z-index: 100;*/
  max-width: 30%;
}

@media(max-width: 992px) {
  .speech-bubble {
    max-width: 100%;
    width: 50%;
  }
}

@media(max-width: 786px) {
  .speech-bubble {
    width: 70%;
  }
}

#home .speech-bubble:after {
	/*content: ''*/
	position: absolute;;
	right: 0;
	top: 50%;
	/*width: 0;
	height: 0;*/
	border: 32px solid transparent;
  border-left-color: black;
	border-right: 0;
  border-bottom: 0;
	margin-top: -16px;
  margin-right: -32px;
}



#hideMe {
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/*---------------------------------------
    About me Section
-----------------------------------------*/

#about {
margin-top:100px;
margin-bottom:100px;
}


#my-photo{
  width:400px;
  /*margin-left: 20px;*/
}

.verticalLine {
  border-bottom: 3px solid black;
  width:400px;
  /*margin-left: 20px;*/
}

.personal-data div, b{
 /* padding:20px;*/
  line-height: 2.5em;
}

#about p{
  padding: 40px;
}

#about .column{
  padding:50px;
}

/*---------------------------------------
    Portfolio
-----------------------------------------*/

/*#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}*/

.portfolio-heading{
  background-color: #006E6D;
  margin-left:50px;
  margin-right:50px;
} 

.clip-me{
-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  flex-grow: 1;
}

#portfolio h1{
padding:20px;
}

#panda{
  height: 400px;
  width:250px;
  position: relative;
  right:0px;
}

#portfolio .speech-bubble {
	position: relative;
  /*border-radius: .4em;*/
  max-width:70%;
 /* background-color: black;
  color:white;*/
}

/*#portfolio .speech-bubble h1 {
  color:white;
}*/

#portfolio .speech-bubble:after {
/*	content: '';*/
	position: absolute;
	left: 0;
	top: 50%;
/*	width: 0;
	height: 0;*/
	border: 20px solid transparent;
  border-right-color: black;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

@media(max-width: 786px) {
  .clip-me{
    -webkit-clip-path: inset(0 0 0 0);
clip-path: inset(0 0 0 0);
  }

  #portfolio .speech-bubble {
  top:-50px;
  max-width:100%;
  width: 100%;
  padding:20px;
  }

  #portfolio .speech-bubble h1{
    padding:0px;
    margin:0px;
    }

  #portfolio .speech-bubble:after {
    top: 0;
    left: 50%;
    border: 20px solid transparent;
    border-bottom-color: lightgray;
    border-top: 0;
    margin-top: -20px;
  }


}


/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
}

.column {
  display: none; /* Hide all elements by default */
}


/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgba(255, 255, 255, 0.5));
  border-radius: 10px;
  line-height: 1.2;
  color:black;
  margin:0px 50px 40px 50px;
  text-align:justify;
}

.content img{
  border-radius: 10px;
  transition-duration: 1s;
  transform: scale(1);
  margin-top:0px;
  padding-top:0px;
}

.content img:hover{
  transition-duration: 1s;
  transform: scale(1.1);
}

.content h2{
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  color:white;
  background-color: black;
  padding: 20px 10px;
}

.show {
  display: block;
}

#myBtnContainer{
  position: relative;
  text-align: left;
  margin:50px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px;
  margin-left:10px;
  background-color: rgba(0, 255, 204,0.7);
  cursor: pointer;
  color:white;
  font-family: 'Special Elite', cursive;
}

.btn:hover {
  background-color: rgba(0, 255, 204,1);
  color:white;
}

.btn.active {
  background-color:#068481;
  color: white;
}

/*---------------------------------------
    Technologies
-----------------------------------------*/

#technologies {
 /* display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;*/
   padding-bottom: 50px;
} 

/*.panels{
  width:100%;
  margin:0px;
  padding:0px;
}

.tech-card { 
  min-height:450px;
  transition: all 2s ease-in-out; 
  padding: 20px 50px;;
  text-align: justify;
}

.tech-card:nth-child(1n) {
  background-color: rgba(120,120,120, 0.6);
}

.tech-card:nth-child(2n) {
  background-color: rgba(0,110,109, 0.6);
}
.tech-card:nth-child(3n) {
  background-color: rgb(180, 164, 155, 0.6);
}
.tech-card:nth-child(4n) {
  background-color: rgba(102,168,167, 0.6);
}
.tech-card:nth-child(5n) {
  background-color: rgba(200,200,200, 0.6);
}
.tech-card:nth-child(6n) {
  background-color: rgba(68,85,93, 0.6);
  
}
.tech-card:nth-child(7n) {
  background-color: rgba(153,187,194, 0.6);
}
.tech-card:nth-child(8n) {
  background-color: rgba(195, 253, 3, 0.6);
}
.tech-card:nth-child(9n) {
  background-color: rgba(80, 253, 204, 0.6);
}

.tech-card:hover{ 
  transition: all 1s ease-in-out; 
  transform: scale(1.02);
  z-index: 10;
  background-color: rgba(255, 255, 255);
}






.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  border-radius: 50px;
  border-style: dashed;
  border-color:grey;
  overflow: hidden;
  opacity: 0.8;
  filter: alpha(opacity=80); 
}

.icon img{
  width: 100px;
  height: 100px;
}

.icon img:hover{
  transition-duration: 1s;
  transform: scale(1.1);
}
*/


svg{
  width: 100px;
  height: 100px;
  background-color: rgba(255,255,255, 0.6);
  margin: 40px;
}

path{
  width: 50px;
  height: 100px;
}



svg:hover > path{
  fill: rgba(0,110,109, 0.6);
  fill:black;
}

/*---------------------------------------
    Contact
-----------------------------------------*/

#contact{
  background-color: black;
  color:white;
  padding-bottom: 50px;
}

form input{
  color:black;
}

#contact h1{
  color:white;
}

#comment{
line-height: 5em;
}

#contact img {
  width: 50px;
  height: 50px;
}

a{
  text-align: center;
  text-decoration: none;
  color: white;
  transition-duration: 1s;
  transform: scale(1);
}

a:hover{
  text-decoration: none;
  color: lightgrey;
  transition-duration: 1s;
  transform: scale(1.1);
}
